<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Free News</title>
    <link rel="stylesheet" href="./src/style/nav.css">
</head>
<body>
    <div class="nav-bar">
        <nav class="nav-bar-container">
            <h2 class="nav-title">Vanny Zin Loy</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/News">News</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <input type="text" placeholder="Search" id="search-field">
            </ul>
        </nav>
    </div>
    <h1>News Page</h1>
</body>
</html>