<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Free Shooting Game On Steam</title>
    <link rel="stylesheet" href="./src/style/top_free_shooting_game_on_steam.css">
    <link rel="stylesheet" href="./src/style/nav.css">
</head>
<body>
    <div class="nav-bar">
        <nav class="nav-bar-container">
            <h2 class="nav-title">Vanny Zin Loy</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/News">News</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <input type="text" placeholder="Search" id="search-field">
            </ul>
        </nav>
    </div>
    <section class="body-container">
        <div class="title">
            <h1>Top Free Shooting Game on Steam</h1>
        </div>
        <div class="img-banner">
            <img src="./src/pic/Banner-Top-Free-Shooting.png" alt="all-game-pic" width="950px" height="300px">
        </div>
        <div class="game">
            <h2>1. PUBG: Battlegrounds</h2>
            <p id="description">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play PUBG: BATTLEGROUNDS for free. Land on strategic locations, loot weapons and supplies, and survive to become
                the last team standing across various, diverse Battlegrounds. Squad up and join the Battlegrounds for the original Battle
                Royal experience that only PUBG: BATTLEGROUNDS can offer.
            </p>
            <div class="game-container">
                <img src="./src/pic/pubg-battlegrounds 450x450.png" alt="pic of game">
                <ul>
                    <li>Rate: 58.84%</li>
                    <li>Genre: Action, Adventure, Free to Play, Massively,Multiplayer</li>
                    <li>Developer: KRAFTON, Inc. </li>
                    <li>Publisher: KRAFTON, Inc.</li>
                </ul>
            </div>
            <button class="check-btn" onclick="window.open('https://store.steampowered.com/app/578080/PUBG_BATTLEGROUNDS/', '_blank');">Check it on steam</button>
        </div>
        <div class="game">
            <h2>2. Apex Legend</h2>
            <p id="description">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conquer with character in Apex Legends, a free-to-play* Hero shooter where legendary characters with powerful
                abilities team up to battle for fame & fortune on the fringes of the Frontier. Master an ever-growing roster of diverse Legends, deep-tactical squad play, and bold, new innovations that go
                beyond the Battle Royal experience — all within a rugged world where anything goes. Welcome to the next evolution of
                Hero Shooter.                   
            </p>
            <div class="game-container">
                <img src="./src/pic/Apex Legend 450x450.png" alt="pic of game">
                <ul>
                    <li>Rate: 84.80%</li>
                    <li>Genre: Action, Adventure, Free to Play</li>
                    <li>Developer: Respawn Entertainment</li>
                    <li>Publisher: Electronic Arts</li>
                </ul>
            </div>
            <button class="check-btn" onclick="window.open('https://store.steampowered.com/app/1172470/Apex_Legends/', '_blank');">Check it on steam</button>
        </div>
        <div class="game">
            <h2>3. Counter Strike: Global Offensive</h2>
            <p id="description">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Counter-Strike took the gaming industry by surprise when the unlikely MOD became the
                most played online PC action game in the world almost immediately after its release in August
                1999," said Doug Lombardi at Valve. "For the past 12 years, it has continued to be one of the mostplayed games in the
                world, headline competitive gaming tournaments and selling over 25 million units worldwide across the franchise. CS:
                GO promises to expand on CS' award-winning gameplay and deliver it to gamer on the PC as well as the next gen
                consoles and the Mac. Counter-Strike: Global Offensive (CS: GO) expands upon the team-based action gameplay that it pioneered when it
                was launched 19 years ago.
            </p>
            <div class="game-container">
                <img src="./src/pic/CSGO 450x450.png" alt="pic of game">
                <ul>
                    <li>Rate: 88.33%</li>
                    <li>Genre: Action, Free to Play</li>
                    <li>Developer: Value, Hidden Path Entertainment</li>
                    <li>Publisher: Value</li>
                </ul>
            </div>
            <button class="check-btn" onclick="window.open('https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/', '_blank');">Check it on steam</button>
        </div>
        <div class="game">
            <h2>4. Team Fortress 2</h2>
            <p id="description">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; One of the most popular online action games of all time, Team Fortress 2 delivers constant free updates—new game
                modes, maps, equipment and, most importantly, hats. Nine distinct classes provide a broad range of tactical abilities
                and personalities, and lend themselves to a variety of player skills. 
            </p>
            <div class="game-container">
                <img src="./src/pic/Team Fortress 2 450x450.png" alt="pic of game">
                <ul>
                    <li>Rate: 93.75%</li>
                    <li>Genre: Action, Free to Play</li>
                    <li>Developer: Value</li>
                    <li>Publisher: Value</li>
                </ul>
            </div>
            <button class="check-btn" onclick="window.open('https://store.steampowered.com/app/440/Team_Fortress_2/', '_blank');">Check it on steam</button>
        </div>
        <div class="game">
            <h2>5. Warframe</h2>
            <p id="description">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Confront warring factions throughout a sprawling interplanetary system as you follow the guidance of the
                mysterious Lotus and level up your Warframe, build an Arsenal of destructive firepower, and realize your true potential
                across massive open worlds in this thrilling, genre defining third-person combat experience. Form a Squad with your
                friends and earn valuable bonus Rewards when you complete Missions together via highly collaborative, co-op
                gameplay. Utilize your Warframe's Abilities to heal allies, redirect enemy fire, and achieve your objectives. Stuck on a
                particular challenge? In-game matchmaking makes it easy to connect with friendly Tenno whenever you need an extra
                hand.
            </p>
            <div class="game-container">
                <img src="./src/pic/Warframe 450x450.png" alt="pic of game">
                <ul>
                    <li>Rate: 86.62%</li>
                    <li>Genre: Ation, RPG, Free to Play</li>
                    <li>Developer: Digital Extremes</li>
                    <li>Publisher: Digital Extremes</li>
                </ul>
            </div>
            <button class="check-btn" onclick="window.open('https://store.steampowered.com/app/230410/Warframe/', '_blank');">Check it on steam</button>
        </div>
    </section>
</body>
</html>